h1{
    text-align: center;
    color: rgb(124, 210, 124);
    margin-top: 20px;
}


strong{
    color: rgb(65, 127, 65);
}

.cardcita{
    background-color: rgb(217, 251, 217);
    border: 3px solid rgb(124, 210, 124);
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    color: #383838;
}

.assign-btn{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(124, 210, 124);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    font-family: poppins, sans-serif;
    transition: background-color 0.3s;
}

.review-btn{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(124, 210, 124);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    font-family: poppins, sans-serif;
    transition: background-color 0.3s;
}

.assign-btn:hover:not(:disabled),
.review-btn:hover:not(:disabled) {
    background-color: rgb(124, 210, 124);
}